# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Project specific
data/
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
